In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [2]:
from sklearn.datasets import load_iris
iris_data = load_iris()

In [3]:
iris_dataset = pd.DataFrame(data= np.c_[iris_data['data'], iris_data['target']],
                      columns= iris_data['feature_names'] + ['target'])
iris_dataset.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2     0.0
1                4.9               3.0  ...               0.2     0.0
2                4.7               3.2  ...               0.2     0.0
3                4.6               3.1  ...               0.2     0.0
4                5.0               3.6  ...               0.2     0.0

[5 rows x 5 columns]

In [4]:
print("Target names: \n 0.0: 'Setosa', 1.0: 'Versicolor', 2.0:'Virginica' \n",iris_dataset['target'].unique())
print("Shape of data: ",format(iris_dataset.shape))

Target names:
 0.0: 'Setosa', 1.0: 'Versicolor', 2.0:'Virginica'
 [0. 1. 2.]
Shape of data:  (150, 5)

In [5]:
X = iris_dataset.iloc[:,[0,1,2,3]]
y = iris_dataset.iloc[:,[4]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [6]:
print(X_train.shape)
print(X_test.shape)

(120, 4)
(30, 4)

In [7]:
print(y_train.shape)
print(y_test.shape)

(120, 1)
(30, 1)

In [8]:
print(X_train)
print(y_train)
y_train.values.ravel()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
20                 5.4               3.4                1.7               0.2
63                 6.1               2.9                4.7               1.4
71                 6.1               2.8                4.0               1.3
49                 5.0               3.3                1.4               0.2
38                 4.4               3.0                1.3               0.2
..                 ...               ...                ...               ...
146                6.3               2.5                5.0               1.9
22                 4.6               3.6                1.0               0.2
137                6.4               3.1                5.5               1.8
42                 4.4               3.2                1.3               0.2
90                 5.5               2.6                4.4               1.2

[120 rows x 4 columns]
     target
20      0.0
63      1.0
71      1.0
49      0.0
38      0.0
..      ...
146     2.0
22      0.0
137     2.0
42      0.0
90      1.0

[120 rows x 1 columns]

array([0., 1., 1., 0., 0., 1., 2., 2., 1., 1., 1., 0., 0., 2., 2., 0., 1.,
       2., 1., 0., 2., 1., 0., 1., 2., 2., 2., 1., 1., 0., 2., 0., 2., 1.,
       2., 0., 2., 0., 2., 2., 1., 0., 2., 1., 1., 2., 1., 0., 2., 0., 0.,
       0., 0., 2., 2., 2., 1., 1., 0., 1., 1., 1., 2., 1., 0., 0., 0., 1.,
       1., 0., 2., 0., 0., 2., 0., 0., 0., 2., 0., 0., 2., 1., 0., 1., 2.,
       2., 0., 1., 1., 2., 0., 0., 0., 0., 1., 0., 2., 1., 2., 1., 1., 2.,
       1., 2., 0., 0., 1., 0., 1., 0., 2., 1., 2., 1., 0., 2., 0., 2., 0.,
       1.])

In [9]:
knn = KNeighborsClassifier(n_neighbors=1) # k neighbours classifier

In [10]:
knn.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=1)

In [11]:
y_pred = knn.predict(X_test)
print("Test set predictions:\n {}".format(y_pred))

Test set predictions:
 [1. 1. 2. 1. 1. 2. 1. 1. 1. 2. 0. 2. 1. 2. 0. 1. 2. 2. 0. 0. 1. 2. 2. 2.
 2. 2. 0. 1. 1. 0.]

In [12]:
print("Test set score (knn.score): {:.2f}".format(knn.score(X_test, y_test)))

Test set score (knn.score): 0.90

In [13]:
svm = SVC(kernel = 'linear', random_state = 0) # support vector machines classifier 
svm.fit(X_train, y_train)

y_pred2 = svm.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
print("Test set score (svm.score): {:.2f}".format(svm.score(X_test, y_test)))

Test set score (svm.score): 0.97

In [15]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(n_estimators = 100)  # Random forest classifier
RF.fit(X_train, y_train)
y_pred3 = RF.predict(X_test)
print("Test set score (RF.score): {:.2f}".format(RF.score(X_test, y_test)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

Test set score (RF.score): 0.93